<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FUTMinnaMaintenanceDSS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FUTMinnaMaintenanceDSS.My.MySettings.MTCEDATABASEConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MTCEDATABASE.mdb" providerName="System.Data.OleDb" />
    <add name="FUTMinnaMaintenanceDSS.My.MySettings.DSSAnalysisConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DSSAnalysis.mdb" providerName="System.Data.OleDb" />
    <add name="FUTMinnaMaintenanceDSS.My.MySettings.AnalysisDSSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\AnalysisDSS.mdb" providerName="System.Data.OleDb" />
    <add name="FUTMinnaMaintenanceDSS.My.MySettings.RankDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\RankDataBase.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FUTMinnaMaintenanceDSS.My.MySettings>
      <setting name="SETLifeSpan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SETAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SETAvCSI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SETFundAllo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SETReplaceCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SETRepairCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEETLifeSpan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEETAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEETAvCSI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEETFundAllo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEETReplaceCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEETRepairCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEMTLifeSpan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEMTAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEMTAvCSI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEMTFundAllo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEMTReplaceCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEMTRepairCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SICTLifeSpan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SICTAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SICTAvCSI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SICTFundAllo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SICTReplaceCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SICTRepairCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAATLifeSpan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAATAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAATFundAllo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAATReplaceCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAATRepairCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAATRemainingLife" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAATAvCSI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEETRemainingLife" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEMTRemainingLife" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SETRemainingLife" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SICTRemainingLife" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="availableFund" serializeAs="String">
        <value>0</value>
      </setting>
    </FUTMinnaMaintenanceDSS.My.MySettings>
  </userSettings>
</configuration>